/* general styles */


:root
{--navBar-height: 0px;}
.cnt-rel
{position: relative;}
.default-padding
{padding: 16px;}

/* top header */
.logo
{
    font-size: 3rem;
    font-family: Impact, Charcoal, sans-serif;
    color: black;
}
.top-header-info
{
    position: absolute;
    bottom: 0;
}

/* calculator card */
.sticky-calc-card
{
    position: sticky;
    top: var(--navBar-height);
}

/* budgeting */
.selected-item
{
    font-size: initial;
}