<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monitoring</title>
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.18.0/css/mdb.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" 
        crossorigin="anonymous">
    <link rel="stylesheet" href="/css/general.css">
</head>
<body>
    <div id="app" class="container-fluid">
        <div class="row">
            <!-- sidebar -->
            <div class="col-lg-2 p-0">
                <sidebar :menus="menus" :activemenu="activeMenu" 
                    v-on:activation="setActiveMenu"
                    v-on:refresh="reloadData"
                    ></sidebar>
            </div>

            <!-- content -->
            <div class="col-lg-10">
                <!-- utenze -->
                <menusection :section="menus[0]" v-if="isActive(menus[0].name)">
                    <utenze v-bind:utenze="utenze" :sezioni="sections" v-on:alarm="moveToWarnings"></utenze>
                </menusection>
                
                <!-- allarmi -->
                <menusection :section="menus[1]" v-if="isActive(menus[1].name)">
                    <cntalarms :utenze="utenze"></cntalarms>
                </menusection>

                <!-- grafici -->
                <menusection :section="menus[2]" v-if="isActive(menus[2].name)">
                    <water-charts :units="units" :water_cons="water_cons" :water_level="water_level"></water-charts>
                </menusection>
                <menusection :section="menus[3]" v-if="isActive(menus[3].name)">
                    <consumptions :utenze="utenze" :units="units" :consumptions="consumptions"></consumptions>
                </menusection>

            </div>

        </div>
    </div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <!-- Chart.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script src="https://unpkg.com/vue-chartjs/dist/vue-chartjs.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.18.0/js/mdb.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>    
    <script src="/js/comp/cmp-cnt-alarms.js"></script>
    <script src="/js/comp/cmp-sidemenuitem.js"></script>
    <script src="/js/comp/cmp-sidebar.js"></script>
    <script src="/js/comp/cmp-menusection.js"></script>
    <script src="/js/comp/utenza.js"></script>
    <script src="/js/comp/utenze.js"></script>
    <script src="/js/comp/water-charts.js"></script>
    <script src="/js/comp/consumptions.js"></script>
    <script src="main-monitoring.js"></script>
    <script src="/js/comp/cmp-card-alarm.js"></script>
</body>
</html>